.education-container {
    width: 65%;
    margin: auto;
    margin-top: 2rem !important;
    padding: 1rem;
    border-radius: 2rem;
    border: 1none;
  }
 p{
  font-weight: 500;
  color: darkgrey;
 }
 @media only screen and (max-width: 500px) {
   .education-container {
    width: auto;
    height: auto;
    padding: 10px;
   }
   p{
    font-size: medium;
   }
   .education-container h2{
    margin-left: 1.1rem;
   }
 }