
.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 400px;
  height: auto;
  border: 2px solid #ccc; 
  border-radius: 1rem !important;
  padding: 2rem;
  padding-bottom: 0.3rem;
  
}
.card:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.card-media {
  height: 200px; 
}

.card-title {
  font-size: 26px;
  font-weight: 600;
  color: #333;
  margin-bottom: 1rem; 
}

.card-description {
  font-size: 20px;
  color: #666; 
  font-weight: 400;
}